<section class="d-flex flex-wrap">
    @foreach(var cars in Service!.Cars)
    {
        
    }
</section>

@code {
    [CascadingParameter(Name = "Service")] public UIService? Service { get; set; }
    [Parameter] public EventCallback OnChange { get; set; }
}
