<div class="featured-car content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <!-- Option bar start -->
                <div class="option-bar clearfix">
                    <div class="sorting-options2 custom-search-container">
                        <span class="sort">Sortera:</span>
                        <div class="dropdown bootstrap-select custom-search-fields-container">
                            <select class="optionBar custom-search-fields" name="default-order">
                                <option>Ordinare</option>
                                <option>Pris: Högt till Lågt</option>
                                <option>Pris: Lågt till Högt</option>
                                <option>Nyast Inkomna</option>
                            </select>
                        </div>
                    </div>
                    
                </div>
                <div>
                    <!-- Car box 2 start -->
                    <!-- First car on website start-->
                    <div class="car-box-2">
                        <div class="row g-0">
                            <div class="col-lg-5 col-md-5">
                                <div class="car-thumbnail">
                                    <div class="image-container">
                                        <img class="d-block w-100" id="carImage" src="images/car-2.jpg" alt="car">
                                        <a href="#" class="prev" onclick="changeImage(-1, event)">&#10094;</a>
                                        <a href="#" class="next" onclick="changeImage(1, event)">&#10095;</a>
                                    </div>
                                </div>
                                <div class="carbox-overlap-wrapper">
                                    <div class="overlap-box">
                                        <div class="overlap-btns-area">
                                            <a class="overlap-btn" data-bs-toggle="modal" data-bs-target="#carOverviewModal">
                                                <i class="fa fa-eye-slash"></i>
                                            </a>
                                            <a class="overlap-btn wishlist-btn">
                                                <i class="fa fa-heart-o"></i>
                                            </a>
                                            <a class="overlap-btn compare-btn">
                                                <i class="fa fa-balance-scale"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-7 col-md-7 align-self-center">
                                <div class="detail">
                                    <h5 class="title">
                                        <a href="car-details.html">Ford Mustang</a>
                                    </h5>
                                    <span class="price">
                                        <i class="bi bi-tag-fill"></i> 325 000 kr
                                    </span>
                                    <ul class="facilities-list clearfix">
                                        <li><i class="bi bi-speedometer2"></i> 12,400 km</li>
                                        <li><i class="bi bi-gear"></i> Automat</li>
                                        <li><i class="bi bi-calendar3"></i> 2021</li>
                                        <li><i class="bi bi-fuel-pump"></i> Bensin</li>
                                        <li><i class="bi bi-car-front"></i> Sport</li>
                                        <li><i class="bi bi-paint-bucket"></i> Röd</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <script>
                        var images = ["images/car-2.jpg", "images/hidden-1.jpg"]; // lista med bildsökvägar
                        var currentImageIndex = 0;
                        var carImage = document.getElementById('carImage');

                        function changeImage(direction, event) {
                            event.preventDefault(); // Förhindra standardbeteendet för länken
                            currentImageIndex += direction;
                            if (currentImageIndex < 0) {
                                currentImageIndex = images.length - 1;
                            } else if (currentImageIndex >= images.length) {
                                currentImageIndex = 0;
                            }
                            carImage.src = images[currentImageIndex];
                        }
                    </script>

                    <!-- First car on website stop-->
                    <!-- second car on website start-->
                    <div class="car-box-2">
                        <div class="row g-0">
                            <div class="col-lg-5 col-md-5">
                                <div class="car-thumbnail">
                                    <div class="image-container">
                                        <img class="d-block w-100" id="carImage2" src="images/car-6.jpg" alt="car">
                                        <a href="#" class="prev" onclick="changeImage2(-1, event, 'carImage2', images2)">&#10094;</a>
                                        <a href="#" class="next" onclick="changeImage2(1, event, 'carImage2', images2)">&#10095;</a>
                                    </div>
                                </div>
                                <div class="carbox-overlap-wrapper">
                                    <div class="overlap-box">
                                        <div class="overlap-btns-area">
                                            <a class="overlap-btn" data-bs-toggle="modal" data-bs-target="#carOverviewModal">
                                                <i class="fa fa-eye-slash"></i>
                                            </a>
                                            <a class="overlap-btn wishlist-btn">
                                                <i class="fa fa-heart-o"></i>
                                            </a>
                                            <a class="overlap-btn compare-btn">
                                                <i class="fa fa-balance-scale"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-7 col-md-7 align-self-center">
                                <div class="detail">
                                    <h5 class="title">
                                        <a href="car-details.html">Audi Q7</a>
                                    </h5>
                                    <span class="price">
                                        <i class="bi bi-tag-fill"></i> 370 000 kr
                                    </span>
                                    <ul class="facilities-list clearfix">
                                        <li><i class="bi bi-speedometer2"></i> 12,400 km</li>
                                        <li><i class="bi bi-gear"></i> Automat</li>
                                        <li><i class="bi bi-calendar3"></i> 2021</li>
                                        <li><i class="bi bi-fuel-pump"></i> Bensin</li>
                                        <li><i class="bi bi-car-front"></i> Sport</li>
                                        <li><i class="bi bi-paint-bucket"></i> Röd</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>



                    <script>
                        var images2 = ["images/car-6.jpg", "images/hidden-7.jpg"]; // lista med bildsökvägar
                        var currentImageIndex2 = 0;
                        var carImage2 = document.getElementById('carImage2');

                        function changeImage2(direction, event, imageId, imageArray) {
                            event.preventDefault(); // Förhindra standardbeteendet för länken
                            currentImageIndex2 += direction;
                            if (currentImageIndex2 < 0) {
                                currentImageIndex2 = imageArray.length - 1;
                            } else if (currentImageIndex2 >= imageArray.length) {
                                currentImageIndex2 = 0;
                            }
                            document.getElementById(imageId).src = imageArray[currentImageIndex2];
                        }
                    </script>

                    <!-- Car box 2 start -->
                    <!-- third car on website start-->
                    <div class="car-box-2">
                        <div class="row g-0">
                            <div class="col-lg-5 col-md-5">
                                <div class="car-thumbnail">
                                    <div class="image-container">
                                        <img class="d-block w-100" id="carImage3" src="images/car-4.jpg" alt="car">
                                        <a href="#" class="prev" onclick="changeImage3(-1, event, 'carImage3', images3)">&#10094;</a>
                                        <a href="#" class="next" onclick="changeImage3(1, event, 'carImage3', images3)">&#10095;</a>
                                    </div>
                                </div>
                                <div class="carbox-overlap-wrapper">
                                    <div class="overlap-box">
                                        <div class="overlap-btns-area">
                                            <a class="overlap-btn" data-bs-toggle="modal" data-bs-target="#carOverviewModal">
                                                <i class="fa fa-eye-slash"></i>
                                            </a>
                                            <a class="overlap-btn wishlist-btn">
                                                <i class="fa fa-heart-o"></i>
                                            </a>
                                            <a class="overlap-btn compare-btn">
                                                <i class="fa fa-balance-scale"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-7 col-md-7 align-self-center">
                                <div class="detail">
                                    <h5 class="title">
                                        <a href="car-details.html">Toyota Prius</a>
                                    </h5>
                                    <span class="price">
                                        <i class="bi bi-tag-fill"></i> 195 000 kr
                                    </span>
                                    <ul class="facilities-list clearfix">
                                        <li><i class="bi bi-speedometer2"></i> 12,400 km</li>
                                        <li><i class="bi bi-gear"></i> Automat</li>
                                        <li><i class="bi bi-calendar3"></i> 2021</li>
                                        <li><i class="bi bi-fuel-pump"></i> Bensin</li>
                                        <li><i class="bi bi-car-front"></i> Sport</li>
                                        <li><i class="bi bi-paint-bucket"></i> Röd</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>


                    <script>
                        var images3 = ["images/car-4.jpg", "images/hidden-4.jpg"]; // lista med bildsökvägar
                        var currentImageIndex3 = 0;
                        var carImage3 = document.getElementById('carImage3');

                        function changeImage3(direction, event) {
                            event.preventDefault(); // Förhindra standardbeteendet för länken
                            currentImageIndex3 += direction;
                            if (currentImageIndex3 < 0) {
                                currentImageIndex3 = images3.length - 1;
                            } else if (currentImageIndex3 >= images3.length) {
                                currentImageIndex3 = 0;
                            }
                            carImage3.src = images3[currentImageIndex3];
                        }
                    </script>


                    <!-- third car on website stop-->
                    <!-- fourth car on website start-->
                    <div class="car-box-2">
                        <div class="row g-0">
                            <div class="col-lg-5 col-md-5">
                                <div class="car-thumbnail">
                                    <div class="image-container">
                                        <img class="d-block w-100" id="carImage4" src="images/car-3.jpg" alt="car">
                                        <a href="#" class="prev" onclick="changeImage4(-1, event)">&#10094;</a>
                                        <a href="#" class="next" onclick="changeImage4(1, event)">&#10095;</a>
                                    </div>
                                </div>
                                <div class="carbox-overlap-wrapper">
                                    <div class="overlap-box">
                                        <div class="overlap-btns-area">
                                            <a class="overlap-btn" data-bs-toggle="modal" data-bs-target="#carOverviewModal">
                                                <i class="fa fa-eye-slash"></i>
                                            </a>
                                            <a class="overlap-btn wishlist-btn">
                                                <i class="fa fa-heart-o"></i>
                                            </a>
                                            <a class="overlap-btn compare-btn">
                                                <i class="fa fa-balance-scale"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-7 col-md-7 align-self-center">
                                <div class="detail">
                                    <h5 class="title">
                                        <a href="car-details.html">Fiat 500g</a>
                                    </h5>
                                    <span class="price">
                                        <i class="bi bi-tag-fill"></i> 60 000 kr
                                    </span>
                                    <ul class="facilities-list clearfix">
                                        <li><i class="bi bi-speedometer2"></i> 12,400 km</li>
                                        <li><i class="bi bi-gear"></i> Automat</li>
                                        <li><i class="bi bi-calendar3"></i> 2021</li>
                                        <li><i class="bi bi-fuel-pump"></i> Bensin</li>
                                        <li><i class="bi bi-car-front"></i> Sport</li>
                                        <li><i class="bi bi-paint-bucket"></i> Röd</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <script>
                        var images4 = ["images/car-3.jpg", "images/hidden-10.jpg"]; // lista med bildsökvägar
                        var currentImageIndex4 = 0;
                        var carImage4 = document.getElementById('carImage4');

                        function changeImage4(direction, event) {
                            event.preventDefault(); // Förhindra standardbeteendet för länken
                            currentImageIndex4 += direction;
                            if (currentImageIndex4 < 0) {
                                currentImageIndex4 = images4.length - 1;
                            } else if (currentImageIndex4 >= images4.length) {
                                currentImageIndex4 = 0;
                            }
                            carImage4.src = images4[currentImageIndex4];
                        }
                    </script>
                    <!-- fourth car on website stop-->
                    <!-- fifth car on website start-->
                    <div class="car-box-2">
                        <div class="row g-0">
                            <div class="col-lg-5 col-md-5">
                                <div class="car-thumbnail">
                                    <div class="image-container">
                                        <img class="d-block w-100" id="carImage5" src="images/car-1.jpg" alt="car">
                                        <a href="#" class="prev" onclick="changeImage5(-1, event)">&#10094;</a>
                                        <a href="#" class="next" onclick="changeImage5(1, event)">&#10095;</a>
                                    </div>
                                </div>
                                <div class="carbox-overlap-wrapper">
                                    <div class="overlap-box">
                                        <div class="overlap-btns-area">
                                            <a class="overlap-btn" data-bs-toggle="modal" data-bs-target="#carOverviewModal">
                                                <i class="fa fa-eye-slash"></i>
                                            </a>
                                            <a class="overlap-btn wishlist-btn">
                                                <i class="fa fa-heart-o"></i>
                                            </a>
                                            <a class="overlap-btn compare-btn">
                                                <i class="fa fa-balance-scale"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-7 col-md-7 align-self-center">
                                <div class="detail">
                                    <h5 class="title">
                                        <a href="car-details.html">Classic MG Racer</a>
                                    </h5>
                                    <span class="price">
                                        <i class="bi bi-tag-fill"></i> 900 000 kr
                                    </span>
                                    <ul class="facilities-list clearfix">
                                        <li><i class="bi bi-speedometer2"></i> 12,400 km</li>
                                        <li><i class="bi bi-gear"></i> Automat</li>
                                        <li><i class="bi bi-calendar3"></i> 2021</li>
                                        <li><i class="bi bi-fuel-pump"></i> Bensin</li>
                                        <li><i class="bi bi-car-front"></i> Sport</li>
                                        <li><i class="bi bi-paint-bucket"></i> Röd</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <script>
                        var images5 = ["images/car-1.jpg", "images/hidden-9.jpg"]; // list of image paths
                        var currentImageIndex5 = 0;
                        var carImage5 = document.getElementById('carImage5');

                        function changeImage5(direction, event) {
                            event.preventDefault(); // Prevent the default behavior of the anchor tag
                            currentImageIndex5 += direction;
                            if (currentImageIndex5 < 0) {
                                currentImageIndex5 = images5.length - 1;
                            } else if (currentImageIndex5 >= images5.length) {
                                currentImageIndex5 = 0;
                            }
                            carImage5.src = images5[currentImageIndex5];
                        }
                    </script>

                </div> <!--Alla car boxes måste ligga innan den här slut diven -->
            </div>

            <div class="col-lg-4 col-md-12">
                <div class="sidebar-right">
                    <!-- Advanced search start -->
                    <div class="widget widget-3 advanced-search2">
                        <div class="search-container">
                            <h5 class="sidebar-title">Sök Bilar</h5>
                            <form method="GET">
                                <div class="form-group">
                                    <div class="dropdown bootstrap-select search-fields">
                                        <select class="selectpicker search-fields">
                                            <option>Modell</option>
                                            <option>Q7</option>
                                            <option>Mustang</option>
                                            <option>Prius</option>
                                            <option>500</option>
                                            <option>Classic racer</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="dropdown bootstrap-select search-fields">
                                        <select class="selectpicker search-fields" name="select-make">
                                            <option>Tillverkare</option>
                                            <option>Audi</option>
                                            <option>Ford</option>
                                            <option>Toyota</option>
                                            <option>Fiat</option>
                                            <option>MG</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="dropdown bootstrap-select search-fields">
                                        <input type="text" class="selectpicker search-fields" placeholder="Årsmodell" name="type-year">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="dropdown bootstrap-select search-fields">
                                        <select class="selectpicker search-fields" name="select-type">
                                            <option>Välj Kaross</option>
                                            <option>Alla</option>
                                            <option>Nya</option>
                                            <option>Begagnade</option>
                                            <option>Elektrisk</option>
                                            <option>Hybrid</option>
                                            <option>Sport</option>


                                        </select>
                                    </div>
                                </div>


                                <div class="form-group mb-0">
                                    <button class="search-button btn">Search</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>








@code {

}



