<footer class="footer">
    <div class="container footer-inner">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="footer-item clearfix">
                    <h4>
                        Contact Info
                    </h4>
                    <ul class="contact-info">
                        <li>
                            <i class="address"></i>Malmvägen 1, Stockholm, Sweden
                        </li>
                        <li>
                            <i class="mail"></i><a href="email">info@newtongroup.com</a>
                        </li>
                        <li>
                            <i class="phone"></i><a href="phone_Nr">+46 73 52 68 125</a>
                        </li>
                        </ul>

                    <ul class="logo-pics">
                            <li>
                                <a href="https://www.facebook.com/login/?locale=sv_SE&refsrc=deprecated&paipv=0&eav=AfatrVgISh3loQnMzzDs55GjsTe14VaVMYXDOcCqziEw0J9ycrFgJoyfKGKb8A7XW5g&_rdr">
                                    <img src="/Images/Facebook-Logo.png" class="rounded-circle" alt="Facebook">
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/accounts/login/">
                                    <img src="/Images/Instagram_icon.png.webp" class="rounded-circle" alt="Instagram">
                                </a>
                            </li>
                            <li>
                                <a href="https://accounts.google.com/v3/signin/identifier?continue=https%3A%2F%2Fwww.google.com%2F%3Fptid%3D19027681%26ptt%3D8%26fpts%3D0&ec=futura_hpp_co_si_001_p&ifkv=ATuJsjyENWoXOmmuix320-_qD85isOTfpb-rOrv8UNq4H4SdmKzl_2tWb-ahRRq_foEICShAUyHUDw&flowName=GlifWebSignIn&flowEntry=ServiceLogin&dsh=S-1190618630%3A1708004154926257&theme=glif">
                                    <img src="/Images/Google_Plus_logo_(2015-2019).svg.png" class="rounded-circle" alt="Google Plus">
                                </a>
                            </li>
                        </ul>
                    
                    </div>
               </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6">
                <div class="footer-item">
                    <h4>
                        Useful Links
                    </h4>
                    <ul class="links">
                        <li>
                            <a href="about.html">About Us</a>
                        </li>
                        <li>
                            <a href="services.html">Services</a>
                        </li>
                        <li>
                            <a href="faq.html">Faq</a>
                        </li>
                        <li>
                            <a href="contact.html">Contact Us</a>
                        </li> 
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
            </div>
            <div class="col-xl-4 col-lg-3 col-md-6 col-sm-6">
                    <h4>Subscribe</h4>
                    <div class="Subscribe_box">
                        <p>Subscribe down below to recieve our newsletter offers and newly posted cars</p>
                        <form class="form-inline d-flex" action="#">
                            <input class="form-control" type="email" id="email" placeholder="Email Address...">
                            <button class="btn button-theme" type="submit"><i class="subbtn"></i></button>
                        </form>
                    </div>
                </div>
            </div>
</footer>

@code {

}
