@page "/"
@inject UIService Service

<MenuComponent /> 
<Frontpicture />

<div id="viewport" class="d-flex" style="padding-top: 25px;">
    <CascadingValue Value="Service" Name="Service">
        <CarForSale OnChange="OnChange"/>
        <AsideComponent OnChange="OnChange"/>
    </CascadingValue>
</div>
<FooterInfo/>

@code {
    void OnChange()
    {

    }
}
