@page "/"


<i class="bi bi-cart fs-1"> </i> <!-- fs-1 förstorar/förminskar text/objekt -->
<h1> 
    Shoppa nu <i class="bi bi-cart"> </i>
</h1> 


<i class="bi bi-cart"> </i>

<header class="d-flex justify-content-between mx-3 my-1"> <!-- justify-content-between gör att det skapas mellanrum mellan div typerna. 
                                                          mx-3 gör att logo och cart flyttar in 3 steg närmre mot mitten i x-axel.
                                                          my-1 flyttar något i y-axeln 1 steg nedåt. -->
    <div>Logo</div>
    <div>Search</div>
    <div>Cart</div>
</header>


<i class="bi bi-cart"></i>
<div>div 1</div>
<div class="m-3 p-2"> Hej Josef!</div>
<div>div 3</div>