@page "/"

<MenuComponent/>
<Frontpicture/>
<div id="viewport" class="d-flex" style="padding-top: 25px;">
    <CarForSale/>
    <AsideComponent OnChange="OnChange"/>
</div>
<FooterInfo/>

@code{
    void OnChange()
    {

    }
}
