@if (LinkOption is not null)
{
        <label class="btn btn-link text-start text-decoration-none" style="color: black; text-decoration: none; padding: 0; display:block;">
            <input type="radio" name="carCategory" @bind="LinkOption.IsSelected" @onclick="OnClick" />
            @LinkOption?.Name
        </label>
}

@code {
    [Parameter] public LinkOption? LinkOption { get; set; }
    [Parameter] public EventCallback<int> OnLinkClick { get; set; }

    void OnClick()
    {
        if (OnLinkClick.HasDelegate && LinkOption is not null)
            OnLinkClick.InvokeAsync(LinkOption.Id);
    }
}
